<br>
<br>
<br>
<img src='assets/aboutimage.png' id="slider">
<p class="h1">About Us</p>
<p id="textcolor"> The Movie Hub is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.

  You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!
</p>
<div id="slider2">
<img src='assets/aboutimg2.png'></div>
<p>Watch it on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one low fixed monthly fee. Plans start from $9.99 a month. No extra costs or contracts.</p>
<p>Watch anywhere, anytime, on an unlimited number of devices. Sign in with your hub account to watch instantly on the web at themoviehub.com from your personal computer or on any internet-connected device that offers the movie hub app, including smart TVs, smartphones, tablets, streaming media players and game consoles.
</p>
