body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#E9F6FB !important;
}

a {
  font-weight: bold !important;
  font-size: 25px !important;

}
ul{
  float:left;
}
img{
  height:auto;
  width:auto;
}
