
<!--<span class="card">
  <ul class="nav navbar-nav">
    <li class="active"><a routerLink="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="create">Create</a></li>
  </ul>
</span>-->

<p class="h1">THE MOVIE HUB</p>
<div id="box" ><img class="img-responsive" src='assets/movielogo.png'>
</div>

<ul class="nav nav-tabs">
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about">About</a></li>
  <li><a routerLink="list">List</a></li>
  <li><a routerLink="create">Create</a></li>

</ul>

<div class="container"><router-outlet></router-outlet>
</div>

<footer>
  <img class="facebook" src='assets/fb.png' alt="Logo-Facebook">

  <img class="instagram" src='assets/instagram.png' alt="Logo-Instagram">

  <img class="twitter" src='assets/twitter.png' alt="Logo-Twitter">
</footer>
