<br>
<img id="slider" class="img-responsive" src='assets/slider1.png'>
<h1>Coming Soon</h1>
<p>Find the latest new movies coming soon to theaters. Get the latest release dates, watch trailers, see photos, and discuss upcoming movies all on The Movie Hub.</p>
<div id="catbox">
  <div class="i1">
    <img src='assets/movie1.jpg'><span>Gravity</span>
  </div>

  <div class="i1">
    <img src='assets/movie2.jpg'><span>Kung Fu Panda</span>
  </div>

  <div class="i1">
    <img src='assets/movie3.jpg'><span>Parasite</span>
  </div>

  <div class="i1">
    <img src='assets/movie4.jpg'><span>Kung Fu Hustle</span>
  </div>

  <div class="i1">
    <img src='assets/movie5.jpg'><span>Snake and the eagles</span>
  </div>
  <div class="i1">
    <img src='assets/movie6.jpg'><span>Frozen ||</span>
  </div>
  <div class="i1">
    <img src='assets/movie7.jpg'><span>The Croods ||</span>
  </div>
  <div class="i1">
    <img src='assets/movie8.jpg'><span>Tangled</span>
  </div>
</div>


